

<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">All formation</h6>
      </div>

      <div class="card-body">
        <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Titre_de_la_Formation</th>
                          <th>Annee</th>
                          <th>Date</th>
                          <th>Nombre_de_jours</th>
                          <th>Centre_Formation</th>
                          <th>Lieu</th>
                          <th>idSalarie</th>
                          <th>reponse</th>
                          <th>Actions</th>
                      </tr>
                  </thead>

                  <tbody>

                      <tr *ngFor="let item of dataArray;index as i">
                          <td>{{item.titre}}</td>
                          <td>{{item.annee}}</td>
                          <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                          <td>{{item.nbre}}</td>
                          <td>{{item.centre}}</td>
                          <td>{{item.lieu}}</td>
                          <td>{{item.idSalarie}}</td>
                          <td>{{item.Reponse}}</td>

                          <td>
                              <button data-toggle="modal" data-target="#exampleModal" (click)="update(item._id)">reponse</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>









<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> CONGES
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <button class="btn btn-primary" data-dismiss="modal" (click)="accepter()">Accepter</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="refuser()">rejeter</button>

      </div>
    </div>
  </div>

