


<form class="form1">
  <div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">conge</h6>
        </div>

        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>nom</th>
                            <th>prenom</th>
                            <th>type de conge</th>
                            <th>Du</th>
                            <th>Au</th>
                            <th>duree</th>
                            <th>email</th>
                            <th>Reponse</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let item of dataArray;index as i">
                            <td>{{item.nom}}</td>
                            <td>{{item.prenom}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.du | date}}</td>
                            <td>{{item.au | date}}</td>
                            <td>{{item.duree}}</td>
                            <td>{{item.idSalarie}}</td>
                            <td>{{item.Reponse}}</td>
                            <td>
                                <button  data-toggle="modal" data-target="#exampleModal" (click)="update(item._id)">Update</button>

                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

  </div>









  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> CONGES
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <button class="btn btn-primary" data-dismiss="modal" (click)="accepter()">Accepter</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="refuser()">rejeter</button>

      </div>
    </div>
  </div>



<!--<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form2" >

          <div class="form-group">
            <div class="input-container">
              <input type="text" matInput input ngModel #nom="ngModel" name="nom" required>


              <label>Nom</label>

            </div>
            <div class="input-container">
              <input type="text" matInput ngModel #prenom="ngModel" name="prenom" m required>


              <label>Prenom</label>

            </div>
            <div>
              <label>Type de conge</label>
                <select id="type_de_conge" name="type_de_conge" >
                  <option value="paye"> Congés payés</option>
                  <option value="sans_solde"> Congés sans solde</option>
                  <option value="recuperation"> Récupération</option>
                  <option value="maladie">Congés maladie</option>
                </select>

              </div>
            <div class="input-container">
              <input type="Date"  matInput ngModel name="du" #du="ngModel">


              <label>Du</label>

            </div>


            <div class="input-container">
              <input type="date" matInput name="au"   ngModel #au="ngModel">
              <label>Au</label>

            </div>
            <div class="input-container">
              <input type="text" matInput name="date_de_la_demande"  ngModel #date_de_la_demande="ngModel">
              <label>Date de la demande</label>
            </div>


</div>


        </form>



      </div>
      <div class="modal-footer">
        <button type="submit" class="btn">
          Ajouter
        </button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->
