<div class="sidenav">
  <a href="" *ngIf="!au.userLoggedIn()">Home</a>
  <a href="/loginuser"  *ngIf="!au.userLoggedIn()">Log In</a>
  <a href="/register" *ngIf="!au.userLoggedIn()"> Register</a>
  <a href="/salarie/:id"*ngIf="au.userLoggedIn()">Profile</a>
  <a href="/formation" *ngIf="au.userLoggedIn()">formation</a>
  <a href="/conge" *ngIf="au.userLoggedIn()">conge</a>

  <a (click)="logout()"  *ngIf="au.userLoggedIn()" >Logout</a>
</div>


<div class="content">
  <router-outlet></router-outlet>

</div>
